/* General html stuff */

table
{
	border-style: solid;
	border-width: 1px;
	border-spacing:	0px;
	border-color: #000000;

	width: 100%;
	min-width: 100px;
}

table tr td
{
	vertical-align:	top;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
}

/* text	stuff */

h1, h2, h3, h4, h5, h6
{
	color: #efefaf;
}

h1
{
	font-size: 32px;
}

h2
{
	font-size: 26px;
}

h3
{
	font-size: 22px;
}

h4
{
	font-size: 20px;
}

h5
{
	font-size: 18px;
}

h6
{
	font-size: 16px;
}

.header
{
	text-align:	center;
}

a:link 
{
	color: #f07770;
	font-weight: normal; 
	text-decoration: none;
}

a:visited 
{
	color: #f077f0;
	font-weight: normal; 
	text-decoration: none;
}

a:active 
{
	color: #f0f770;
	font-weight: normal; 
	text-decoration: none;
}

a:hover	
{
	color: #f0f770;
	font-weight: normal; 
	text-decoration: none;
}

pre, 
code,
em
{
	background: #00383f;
	color: #e8e800;
	max-width: 800px;
	min-width: 100px;
}

pre 
{
	/* border-left: 2px solid #ccc; */
	padding: 10px;
	overflow-x: auto;
}

code 
{
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.4em;
	border-radius: 3px;
}

p
{
	text-indent: 2em;
}

/* Abstract theme stuff */

#main-table
{
/*	background-color: #000000; */
/*	width: calc(100% - 340px); */
}

#main-menu
{
	font-size: 14px;
	color: #efefef;
}

#footer
{
	text-align: center;
	border-spacing: 0px;
}

#footer tr td
{
	text-align: left;
	width: 25%; /* force 4 columns max*/
	vertical-align: top;
/*	border: 1px #ffffff solid;	*/
	border-spacing: 0px;
}

.main-menu-item
{
	text-align:	center;
	width: 100px;
}

.titlebar
{
	font-size: 20px;
	max-width: 600px;
	text-align: left;
	vertical-align: middle;
	padding: 2px;
	color: #efefef;
	background-color: #000000;
}

.navbar
{
	font-size: 20px;
	text-align: right;
	vertical-align: middle;
	background-color: #000000;
}

.nav
{
	margin: 0px;
	padding: 0px;
}

.nav-item
{
	font-size: 20px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-icon
{
	width: 20px;
	height: 20px;
}

.nav-separator
{
	color: #ff88ff;
}

.content
{
	min-width: 100px;
	text-align: justify;
	margin: 5px;
	font-size: 14px;
	color: #efefef;
	background-color: #000000;
}

.content p, 
.content div, 
.content span, 
.content pre, 
.content code
{
	margin: 5px;
	padding-right: 5px;
}

.content p img
{
	display: block;
	min-width: 100px;
	width: 100%;
	max-width: 600px;
}

.sidebar
{
	padding-left: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 320px;
/*	float: right; */
}

.pagination
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.post-table
{
	min-width: 100px;
	width: 100%;
	max-width: 100%;
	border: #4f4f4f solid 1px;
}

.post-table tr td
{
	border: #4f4f4f solid 1px;
}

table tr .screenshot
{
	width: 300px;
	max-width: 300px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

.screenshot img
{
	min-width: 100px;
}

table tr .description
{
	min-width: 100px;
	max-width: 100%;
	padding: 5px;
	text-align: justify;
	vertical-align: top;
}

.paper-preview
{
	margin: 5px;
}

.paper-title
{
	font-size: 22px;
	color: #efefaf;
	font-weight: bold;
}

.paper-details
{
	line-height: 1.0;
	font-style: italic;
}

/* div class=nav_links */
.nav-next
{
	display: inline;
	width: 350px;
	float: right;
	text-align: right;
}

.nav-previous
{
	display: inline;
	width: 350px;
	float: left;
	text-align: left;
}

/* TODO: REWORK PLUGINS THEME INTERFACE */
.plugin-label
{
	text-align: center;
}

.plugin-head
{
	text-align: center;
	color: #efef00;
	font-size: 16px;
}

.plugin-content
{
	color: #efefef;
	margin: 5px;
	padding: 3px;
}

/* Neon	glows for tables */
.outer-glow-yellow
{
	border-style: solid;
	border-width: 1px;
	border-color: #dfaf00;
}

.outer-glow-blue
{
	border-style: solid;
	border-width: 1px;
	border-color: #0000ff;
}

.outer-glow-pink
{
	border-style: solid;
	border-width: 1px;
	border-color: #ff00ff;
}

.inner-glow
{
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
}

/* Media stuff */
.image-paper-cover
{
	max-width: 320px;
	max-height: 240px;
}